<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title SQ PMS</title>
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/customcss.css" rel="stylesheet" />
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

    @*<link href="~/Scripts/datable.min.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Assets/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">

            <ul class="nav" id="top_menu">
            </ul>
        </div>
        <!-- Content -->
        <div id="content">
            <nav id="mainnavbar" class="navbar navbar-inverse navbar-dark bg-primary navbar-fixed-top">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" onclick="HideSidebar()" id="menu-toggle" class="navbar-brand"><i class="fa fa-bars"></i> PMS Menu<span class="navbar-toggler-icon"></span></a>
                <a href="#" style="display:none;" onclick="ShowSideBar()" id="menu-toggle2" class="navbar-brand"><i class="fa fa-bars"></i> PMS Menu<span class="navbar-toggler-icon"></span></a>

                <div class="container-fluid navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" style="padding-right:20px">
                        <li>@Html.ActionLink(@Session["IncentiveUserName"].ToString(), "ProfileView", "Account")</li>

                        <li id="logoutButton">
                            <a>
                                Log off
                                <span class="glyphicon glyphicon-log-out"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid" style="margin-top:52px;padding:5px">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - SQ Group IT </p>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function HideSidebar() {
            $("#sidebar").css('width', '0%');
            $("#viewport ").css('padding-left', '0px');
            $("#menu-toggle").hide();
            $("#menu-toggle2").show();
        }
        function ShowSideBar() {
            $("#sidebar").css('width', '150px');
            $("#menu-toggle2").hide();
            $("#menu-toggle").show();
            $("#viewport ").css('padding-left', '150px');
        }
        ModuleWiseMenu();

        function ModuleWiseMenu() {
            var origin = window.location.origin;
             var urlpath = '@Url.Action("LoadPermissionMenu", "Account")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Post",
                data: {},
                async: true,
                success: function (data) {
                    $('#top_menu').empty();
                    for (var i = 0; i < data.length; i++) {
                        $("#top_menu").append('<li ><a  href="' + origin + '/' + data[i].ModuleController + '/' + data[i].ModuleValue + '"><i style="padding-right:2px;" class="fa fa-bars"> </i>' + data[i].ModuleName + '</a></li>');
                    }
                }
            });

        }

         //$('#top_menu li a').click(function(e) {

         //    $('#top_menu li.active').removeClass('active');
         //   //var $parent = $(this).parent();
         //   //$parent.addClass('active');
         //   //e.preventDefault();
         //});

        $("#logoutButton").click(function () {
        var urlpath = '@Url.Action("Logout", "Account")';
            $.ajax({
                contentType: "application/json; charset=utf-8",
                data: {},
                dataType: 'json',
                url: urlpath,
                type: "Post",
                async: true,
                success: function (result) {
                if (result) {
                    swal({
                                    title: 'Log out Successfully',
                                    type: 'success',
                                    closeOnCancel: true
                                },
                        function () {
                             window.location.href = '@Url.Action("Index", "Account")';
                                });
                }
            }
        });
        });
    </script>
    <!-- DataTables -->
    <script src="~/Assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script src="~/Content/Datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/Datatables/pdfmake.min.js"></script>
    <script src="~/Content/Datatables/jszip.min.js"></script>
    <script src="~/Content/Datatables/buttons.html5.min.js"></script>
    <script src="~/Content/Datatables/buttons.print.min.js"></script>
    <script src="~/Content/Datatables/buttons.flash.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    @*<script src="~/Scripts/datatable.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
</body>
</html>
