<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SQ AMS</title>
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="site-title">
                    <a href="@Url.Action("ProfileView", "Account")">
                        <img style="padding-top:12px;width:30px;height:40px;" src="~/Image/logo.png" alt="" />
                        <img style="padding-top:20px;width:80px;" src="~/Image/slogan.png" alt="" />
                    </a>
                </p>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Online Service Tracker", "CreateTracker", "Tracker")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(@Session["IncentiveUserName"].ToString(), "ProfileView", "Account")</li>
                    <li id="logoutButton">
                        <a>
                            Log off
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content" style="margin-top:60px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SQ Group IT </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $("#logoutButton").click(function () {
        var urlpath = '@Url.Action("Logout", "Account")';
            $.ajax({
                contentType: "application/json; charset=utf-8",
                data: {},
                dataType: 'json',
                url: urlpath,
                type: "Post",
                async: true,
                success: function (result) {
                if (result) {
                    swal({
                                    title: 'Log out Successfully',
                                    type: 'success',
                                    closeOnCancel: true
                                },
                        function () {
                             window.location.href = '@Url.Action("Index", "Account")';
                                });
                }
            }
        });
        });
    </script>
    <!-- DataTables -->
    <script src="~/Assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
</body>
</html>


