@model IEnumerable<InsentiveCalculation.Models.ProductionModel>
<table class="table ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StyleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StyleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SMV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarcodeNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StyleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StyleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SMV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BarcodeNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
