@model IEnumerable<SQIndustryThree.Models.UserInformation>
    <div class="box">
        <table class="table" border="1" id="userInformationTable">
            <thead>
                <tr>
                    <th>SL</th>
                    <th><input type="checkbox" id="checkuserAll" onclick="checkallUser()" />All</th>
                    <th>Employee Code</th>
                    <th>Employee Name</th>
                    <th>Employee Designation</th>
                </tr>
            </thead>
            <tbody>
                @{ int count = 1;}
                @foreach (var item in Model)
                {
                    <tr id="@item.UserInformationId">
                        <td>@count</td>
                        <td class="text-center"><input type="checkbox" class="chkl" id="chk_@item.UserInformationId" /></td>
                        <td>@item.UserInformationPhoneNumber</td>
                        <td>@item.UserInformationName</td>
                        <td>@item.DesignationName</td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
